<h3 class="mb-4">Pending transactions</h3>

<div *ngIf="transactions.length === 0" class="jumbotron">
  <p class="lead mb-0">No pending transactions. <a [routerLink]="['create']">Let's create one!</a></p>
</div>

<div *ngIf="transactions.length > 0" >
  <p><a [routerLink]="['create']" class="btn btn-primary">New transaction</a></p>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor="let transaction of transactions; trackBy: trackByFn">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.from }}</td>
      <td>{{ transaction.to }}</td>
      <td>{{ transaction.amount | currency: 'EUR' }}</td>
    </tr>
  </table>
</div>
