<h3 class="mb-4">Peers</h3>

<div *ngIf="peers.length === 0">
  <p>No peers found.</p>
</div>

<div *ngIf="peers.length > 0">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let peer of peers">{{ peer }}</li>
  </ul>
</div>
