<div class="wallet" *ngIf="wallet">
  <h4>
    Wallet of {{ name }}
    <app-balance class="text-success float-right" [class.text-danger]="wallet.balance < 0" [balance]="wallet.balance"></app-balance>
  </h4>

  <ul class="list-group mt-3">
    <li *ngFor="let transaction of wallet.unconfirmedTransactions; trackBy: trackByFn" [@slide]="wallet.unconfirmedTransactions.length"
        class="list-group-item list-group-item-light">
      <p class="lead mb-0">{{ transaction.id }}</p>
      <p class="mb-0">
        <span class="badge badge-primary">from {{ transaction.from }}</span>
        <span class="badge badge-secondary">to {{ transaction.to }}</span>
        <span class="badge badge-success">{{ transaction.amount | currency: 'EUR' }}</span>
        <span class="badge badge-danger float-right">Unconfirmed</span>
      </p>
    </li>
    <li *ngFor="let transaction of wallet.minedTransactions; trackBy: trackByFn" [@slide]="wallet.minedTransactions.length"
        class="list-group-item">
      <p class="lead mb-0">{{ transaction.id }}</p>
      <p class="mb-0">
        <span class="badge badge-primary">from {{ transaction.from }}</span>
        <span class="badge badge-secondary">to {{ transaction.to }}</span>
        <span class="badge badge-success">{{ transaction.amount | currency: 'EUR' }}</span>
      </p>
    </li>
  </ul>
</div>

